.module.MMM-MonthCalendar .calendar-daysinweek,
.module.MMM-MonthCalendar .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.module.MMM-MonthCalendar .calendar-days [today] {
    color: #000;
    background-color: #ccc;
    border-radius: 5%;
    font-weight: 600;
}

.module.MMM-MonthCalendar .prefill,
.module.MMM-MonthCalendar .postfill {
    color: #444444;
}

.module.MMM-MonthCalendar .calendar-daysinweek div,
.module.MMM-MonthCalendar .calendar-days div {
    padding: 4px 0;
    margin: 0 8px;
}

.module.MMM-MonthCalendar .module-content { text-align: center; }
