<div class="calendar-daysinweek xsmall bright">
    {%for day in weekdays %}
    <div>{{ day }}</div>
    {% endfor %}
</div>
<div class="calendar-days xsmall">
    {%for day in days %}
    <div {{ "today" if day == today}}>{{ day }}</div>
    {% endfor %}
</div>
